<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>book</key>
	<dict>
		<key>glsl</key>
		<string>book/book.glsl</string>
		<key>thumb</key>
		<string>book/book_thumb.jpg</string>
		<key>background</key>
		<string>book/book.jpg</string>
		<key>mask</key>
		<string>book/book_mask.png</string>
	</dict>
	<key>coffee</key>
	<dict>
		<key>glsl</key>
		<string>coffee/coffee.glsl</string>
		<key>thumb</key>
		<string>coffee/coffee_thumb.jpg</string>
		<key>background</key>
		<string>coffee/coffee.jpg</string>
		<key>mask</key>
		<string>coffee/coffee_mask.png</string>
	</dict>
	<key>draw</key>
	<dict>
		<key>glsl</key>
		<string>draw/draw.glsl</string>
		<key>thumb</key>
		<string>draw/draw_thumb.jpg</string>
		<key>background</key>
		<string>draw/draw.jpg</string>
		<key>mask</key>
		<string>draw/draw_mask.png</string>
	</dict>
	<key>poster</key>
	<dict>
		<key>glsl</key>
		<string>poster/poster.glsl</string>
		<key>thumb</key>
		<string>poster/poster_thumb.jpg</string>
		<key>background</key>
		<string>poster/poster.jpg</string>
		<key>mask</key>
		<string>poster/poster_mask.png</string>
	</dict>
</dict>
</plist>
